// color fondo

$color-bg: antiquewhite;

//color botones principales

$color-bts: rgb(226, 215, 215);

//color letras botones principales

$color-bts-font: black;

//color parrafos

$color-parrafo: rgb(73, 74, 75);

//color footer

$color-fter: white;

